.page {
  max-width: 882px;
  min-width: 281px;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #ffffff;
  padding: 0 19px;
    min-height: 100vh;
    justify-content: space-between;
}
