.footer__copyright {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}

@media screen and (max-width: 619px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
