.authForm__form{
    padding: 10px 0 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 358px;

    }

    @media screen and (max-width: 619px) {
      .authForm__form {
        padding: 10px 22px 25px;
      }
    }
