.popup__avatar-container {
  background-color: #ffffff;
  color: #000000;
  position: relative;
  width: 430px;
  border-radius: 10px;
}

@media screen and (max-width: 519px) {
  .popup__avatar-container {
    max-width: 240px;
    margin: 0 40px;
  }
}
