.authForm__input{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 100%;

    color: #FFFFFF;
    background-color: #000000;
    border: none;
    border-bottom:2px solid #CCCCCC;
}
.authForm__input:focus {
    
      border-bottom:2px solid #ffffff;
      outline: none;

}